h1 {
	font-family: "Georgia";
	text-decoration: underline;
	text-align: center;
	width: 80%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
 }
 
#site-footer {
	background-color: #FAFAD2;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid Black;
	padding: 5px;
	margin-top: 10px;
 }
 
#site-footer address p {
	font-family: Georgia;
	padding: 0;
	margin: 5px 0;
 }
 
 #site-footer p{
	padding: 0;
	margin: 0;
 }
 
nav ul {
  margin: 0;
  padding: 0;
  height: auto;
}
 
nav li {
	display: inline;
	padding: 10px;
}
 
nav a {
	display: inline-block;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: blue;
  transition: .2s background-color;
}

nav a:hover {
  background-color: #FBE908;
}

/*.navbar a:active {
  background-color: #B4B4B4;
  color: blue;
  cursor: default;
}*/

nav {
	width: auto;
  height: auto;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #FAFAD2;
	margin-left: auto;
	margin-right:auto;
	border: .1em solid black;
  border-radius: .5em;
}

#sitetitle {
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}

.clearme {
	clear: both;
}

body {
	background-color: #F0FFFF;
}

#indexsec p {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#iitvid {

}

#me_img {
	border-radius: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sectionboxA {
  border: .1em solid black;
  box-sizing: border-box;
  width: auto;
  height: auto;
  padding: 0.5em;
  margin-bottom: 2em;
  display: block
}


.sectionboxR {
  border: .1em solid black;
  box-sizing: content-box;
  padding-left: 1em;
  width: auto;
  max-width: 35em;
  margin: 0 auto;
}

#iitcon{
  float: right;

}
#mycon{
  float: left;

}

#about {
  max-width: 37em;
  margin: 0 auto;
  
}

.active{
	background-color: #B4B4B4;

}